@CHARSET "UTF-8";

*{ margin: 0; }


	
	.film {
	
		font-size: 30px;
		color: black;
		font-family: 'EF_jejudoldam';
	}
	/* Flow의 색상을 분홍색으로 지정 */
	.flow {
		font-size: 30px;
		color: #33ccff;
		font-family: 'EF_jejudoldam';
	}
	
	@font-face {
		font-family: 'EF_jejudoldam';
		src:
			url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
			format('woff2');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'WAGURITTF';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'TTHakgyoansimUndongjangL';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
	}
	
	