@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#posterBox {
	margin-left: 500px;
	width: 1500px;
	/* height: 1630px; */
	height: 2850px;
}

#boxx {
	width: 1500px;
	height:50px;
	margin-top: 20px;
}

#cate {
	color: black;
	text-decoration: none;
}

#search {
	position: relative;
}

input placeholder {
	color: red;
}

.film {
	margin-left: 100px;
	font-size: 20px;
	color: black;
	font-family: 'EF_jejudoldam';
}
/* Flow의 색상을 분홍색으로 지정 */
.flow {
	font-size: 20px;
	color: #33ccff;
	font-family: 'EF_jejudoldam';
}

@font-face {
	font-family: 'EF_jejudoldam';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WAGURITTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTHakgyoansimUndongjangL';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2')
		format('woff2');
	font-weight: 300;
	font-style: normal;
}

#se {
	width: 320px;
	margin-left: 500px;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
	border: none;
	background-color: #F5F5F5;
	position: relative;
}

#bu {
	background-color: white;
	width: 50px;
	height: 40px;
	font-size: 14px;
	color: black;
	font-family: 'WAGURITTF';
	border-radius: 10px;
	border: none;
}



#btn1 {
	margin-left: 10px;
	width: 70px;
	height: 35px;
	background-color: white;
	border: none;
	color: #33ccff;
	font-size: 14px;
	font-family: 'WAGURITTF';
	margin-bottom: 5px;
	border-radius: 10px;
}

#btn2 {
	width: 70px;
	height: 35px;
	background-color: white;
	color: #33ccff;
	border: none;
	font-size: 14px;
	font-family: 'WAGURITTF';
	margin-bottom: 5px;
	border-radius: 10px;
}

#movie{
	
	width: 400px;
	height: 500px;
	float: right;
	overflow-y: scroll;
}


#movie1 {
	
	margin-top: 20px;
	margin-left: 25px;
	width: 150px;
	height: 100px;
	background-color: white;
	color: white;
	float: left;
}

#movie2 {
	margin-left: 25px;
	margin-top: 20px;
	width: 150px;
	height: 100px;
	background-color: white;
	float: left;
	color: white;
}

#movie3 {
	margin-left: 25px;
	margin-top: 20px;
	width: 150px;
	height: 100px;
	background-color: white;
	float: left;
	color: white;
}

#movie4 {
	margin-left: 25px;
	margin-top: 20px;
	width: 150px;
	height: 100px;
	background-color: white;
	float: left;
	color: white;
}

#movie5 {
	margin-left: 25px;
	margin-top: 20px;
	width: 150px;
	height: 100px;
	background-color: white;
 	
	color: white;
	float: left;
}

#movie6 {
	margin-left: 25px;
	margin-top: 20px;
	width: 150px;
	height: 100px;
	background-color: white;
 	
	color: white;
	float: left;
}

#mt1{
	width: 170px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;

	float: left;
}

#mt1a{
font-size: 12px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
word-break: break-all;
}
#mt1b{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt1c{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

#mt2a{
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt2b{
		font-size: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		word-break: break-all;
}
#mt2c{
		font-size: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		word-break: break-all;
}

#mt3a{
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		word-break: break-all;
}
#mt3b{
		font-size: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		word-break: break-all;
}
#mt3c{
		font-size: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		word-break: break-all;
}

#mt4a{
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt4b{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt4c{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}


#mt5a{
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt5b{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt5c{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}


#mt6a{
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt6b{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#mt6c{
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

#mt2{
	width: 170px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;
	
	float: left;
}

#mt3{
	width: 170px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;
	
	float: left;
}

#mt4{
	width: 170px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;

	float: left;
}
#mt5{
	width: 170px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;
	
	float: left;
}
#mt6{
	width: 170px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;

	float: left;
}

#im1 {
	position: static;
}

#im5 {
	margin-left: 50px;
	margin-top: 250px;
	width: 550px;
	height: 200px;
	position: absolute;

	
}
#im2 {
	color: white;
	font-size: 30px;
}

#im3 {
	color: white;
	font-size: 25px;
}

#im4 {
	color: white;
	font-size: 15px;
}

#text {
	margin-top: 5px;
	font-size: 25px;
	font-family: 'TTHakgyoansimUndongjangL';
}

#both{
	width: 1500px; 
	height: 380px;
	margin-top: 480px;
	
	border: 5px solid black;
}

#news{
	font-size: 25px;
	font-family: 'TTHakgyoansimUndongjangL';
	margin-left: 80px;
	width: 650px; 
	
	height: 370px;
	float: left;
}

#news1{
	margin-top: 5px;
	font-size: 15px;
	font-family: 'TTHakgyoansimUndongjangL';
	width: 600px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	float: left;
	}
#news2{
	margin-top: 5px;
	font-size: 15px;
	font-family: 'TTHakgyoansimUndongjangL';
	width: 600px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	float: left;
	}
#news3{
	margin-top: 5px;
	font-size: 15px;
	font-family: 'TTHakgyoansimUndongjangL';
	width: 600px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	float: left;
	}


#review{
	font-size: 25px;
	font-family: 'TTHakgyoansimUndongjangL';
	margin-left: 70px;

	width: 600px; 
	height: 370px;
	float: left;
}
#review1{
	margin-top: 5px;
	font-size: 15px;
	font-family: 'TTHakgyoansimUndongjangL';
	width: 600px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	float: left;
	}
#review2{
	margin-top: 5px;
	font-size: 15px;
	font-family: 'TTHakgyoansimUndongjangL';
	width: 600px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	float: left;
	}
#review3{
	margin-top: 5px;
	font-size: 15px;
	font-family: 'TTHakgyoansimUndongjangL';
	width: 600px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	float: left;
	}

#text1 {
	
	font-size: 25px;
	font-family: 'TTHakgyoansimUndongjangL';
	clear: both;
}

#text2 {
	
	font-size: 25px;
	font-family: 'TTHakgyoansimUndongjangL';
}

#text3 {
	margin-top: 480px;
	font-size: 25px;
	font-family: 'TTHakgyoansimUndongjangL';
}

#boxa {
	width: 1500px;
	height: 470px;
	background-color: black;
	overflow: hidden;
	position: absolute;
}

#boxb {
	/*  border: 2px solid  red; */
	width: 3500px;
	height: 402px;
	margin-top: 30px;
	position: relative;
	/*최초 사진 위치값 */
	left: 40px;
	right: 0px;
}

#boxb ul li {
	/* . 안보이게  */
	list-style-type: none;
	/* 이미지가 옆으로 나란해보이게 하기 */
	float: left;
	margin: 0px;
	padding: 0px;
}

#boxb ul li img {
	/* . 안보이게  */
	width: 250px;
	height: 400px;
	margin-right: 45px;
}

#boxc {
	width: 1500px;
	height: 470px;
	background-color: black;
	overflow: hidden;
	position: absolute;
}

#boxd {
	/*  border: 2px solid  red; */
	width: 3500px;
	height: 402px;
	margin-top: 30px;
	position: relative;
	/*최초 사진 위치값 */
	left: 40px;
	right: 0px;
}

#boxd ul li {
	/* . 안보이게  */
	list-style-type: none;
	/* 이미지가 옆으로 나란해보이게 하기 */
	float: left;
	margin: 0px;
	padding: 0px;
}

#boxd ul li img {
	/* . 안보이게  */
	width: 250px;
	height: 400px;
	margin-right: 45px;
}

#boxe {
	width: 1500px;
	height: 470px;
	background-color: black;
	overflow: hidden;
	position: absolute;
}

#boxf {
	/*  border: 2px solid  red; */
	width: 3500px;
	height: 402px;
	margin-top: 30px;
	position: relative;
	/*최초 사진 위치값 */
	left: 40px;
	right: 0px;
}

#boxf ul li {
	/* . 안보이게  */
	list-style-type: none;
	/* 이미지가 옆으로 나란해보이게 하기 */
	float: left;
	margin: 0px;
	padding: 0px;
}

#boxf ul li img {
	/* . 안보이게  */
	width: 250px;
	height: 400px;
	margin-right: 45px;
}

#goods{
	width: 1500px; 
	height: 360px;
    border: 5px solid black;
}


#img1{
	width: 400px; 
	height: 330px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 150px;
	border: 1px solid black;
	float: left;
}

#imga{
	width: 150px; 
	height: 70px; 
	margin-top: 15px;
	margin-left: 10px;
	float: left;

}
#imgb{
	width: 150px; 
	height: 70px; 
	margin-top: 10px;
	margin-left: 10px;
	float: left;

}
#imgc{
	width: 150px; 
	height: 70px; 
	margin-top: 10px;
	margin-left: 10px;
	float: left;

}
#imgd{
	width: 150px; 
	height: 70px; 
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

#img2{
	width: 600px; 
	height: 70px; 
	font-size: 20px;
	font-family: 'TTHakgyoansimUndongjangL';
	margin-left: 50px;
	margin-top: 20px;
	border: 1px solid black;
	float: left;
}

#imga img{

	width: 60px; 
	height: 60px;
}

#img3{
	width: 600px; 
	height: 70px;
	font-size: 20px;
	font-family: 'TTHakgyoansimUndongjangL';
	border: 1px solid black;
	margin-left: 50px;
	margin-top: 10px;
	float: left;
}
#imgb img{

	width: 60px; 
	height: 60px;
}
#img4{
	width: 600px; 
	height: 70px;
	font-size: 20px;
	font-family: 'TTHakgyoansimUndongjangL';
	
border: 1px solid black;
	margin-left: 50px;
	margin-top: 10px;
	float: left;
}
#imgc img{

	width: 60px; 
	height: 60px;
}

#img5{
	width: 600px; 
	height: 70px;
	font-size: 20px;
	font-family: 'TTHakgyoansimUndongjangL';

	border: 1px solid black;
	margin-left: 50px;
	margin-top: 10px;
	float: left;
}
#imgd img{

	width: 60px; 
	height: 60px;
}

#foo {
	font-size: 15px;
	font-family: 'TTHakgyoansimUndongjangL';
}	